body {
  padding: 2rem;
  background-image: url("BG_copybook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.students_grades_wraper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
#grades_info,
.grades_analyse_wrapper p {
  font-size: 1.25rem;
}
#grades_info p::first-letter,
.grades_analyse_wrapper p::first-letter,
span {
  font-weight: bold;
}

.positive_grade_styling {
  color: rgb(9, 125, 9);
}
.negative_grade_styling {
  color: rgb(237, 72, 11);
}
